<template name="home">

  <div class="ui segment">
    <div class="container">

      <div class="ui header">
        Squares
      </div>

      <div class="segment">
        Round {{round}}
      </div>

    </div>
  </div>

  <div class="ui segment">
    <div class="container">

      <div id="squares">

        {{#each rows}}
          {{> row}}
        {{/each}}

      </div>

    </div>
  </div>

</template>

<template name='row'>
  {{#each cols}}
    {{> square}}
  {{/each}}
  <br>
</template>

<template name='square'>
  <div class='square' style='background-color: {{color}}'></div>
</template>
